<h1>Welcome to Your Dashboard, {{user.username}}!</h1>

{{#if user.posts.length}}
  {{#each user.posts}}
    <div class='blog-post'>
      <h2>{{title}}</h2>
      <p>{{content}}</p>
      <button class='edit-post-btn' data-postid='{{id}}'>Edit</button>
      <button class='delete-post-btn' data-postid='{{id}}'>Delete</button>
    </div>
  {{/each}}
{{else}}
  <p>You haven't created any blog posts yet.</p>
{{/if}}
<span id='create-post-text'>Create one now!</span>

<!-- Add a modal for updating posts -->
<div id='update-post-modal' class='modal' style='display: none;'>
  <div class='modal-content'>
    <span class='close-btn' id='close-btn'>&times;</span>
    <form id='update-post-form'>
      <!-- Your form fields go here -->
      <label for='update-post-title'>Title:</label>
      <input type='text' id='update-post-title' name='title' required />

      <label for='update-post-content'>Content:</label>
      <textarea
        id='update-post-content'
        name='content'
        rows='4'
        cols='50'
        required
      ></textarea>

      <button type='button' id='save-changes-btn' onclick='saveChanges()'>Save
        Changes</button>
    </form>
  </div>
</div>

<script src='/js/dashboard.js'></script>