
<!-- views/homepage.handlebars -->

<h1>The Tech Blog</h1>

{{!-- Display Blog Posts --}}
<div>
  {{#if logged_in}}
    <a href="/logout">Logout</a>
    {{!-- Add other options for logged-in users --}}
  {{else}}
    <a href="/login">Login</a>
    {{!-- Add other options for non-logged-in users --}}
  {{/if}}

  {{#each posts}}
    <div>
      <h2>{{title}}</h2>
      <p>{{content}}</p>
      <p>Created by {{createdBy}} on {{formattedDate}}</p>
    </div>
  {{/each}}
</div>