<!-- views/homepage.handlebars -->

<h1>The Tech Blog</h1>

{{!-- Display Blog Posts --}}
<div>




{{#each posts}}
  <div class="post-box">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Created by {{createdBy}} on {{formattedDate}}</p>
    <a href="/posts/{{id}}">Read More</a>
    <!-- Add the comments section here if needed -->
    {{#if Comments.length}}
      <div class="comments-section">
        <h2>Comments:</h2>
        <ul>
          {{#each Comments}}
            <li>{{this.comment_text}} - {{this.User.username}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>
{{/each}}