<!-- views/post.handlebars -->

<h1>{{post.title}}</h1>
<p>Written by {{post.User.username}} on {{post.formattedDate}}</p>
<div>{{post.content}}</div>

<!-- Add the option to leave a comment here if needed -->
{{#if logged_in}}
  <form action="/api/comments" method="post">
    <input type="hidden" name="post_id" value="{{post.id}}">
    <label for="comment-text">Leave a Comment:</label>
    <textarea id="comment-text" name="comment_text" rows="4" cols="50" required></textarea>
    <button type="submit">Submit Comment</button>
  </form>
{{else}}
  <p>Login to leave a comment</p>
{{/if}}

<!-- Display existing comments if available -->
{{#if post.Comments.length}}
  <h2>Comments:</h2>
  <ul>
    {{#each post.Comments}}
      <li>{{this.comment_text}} - {{this.User.username}}</li>
    {{/each}}
  </ul>
{{/if}}
